.profile
    &_bg
        padding: 100px 0
        background: linear-gradient(125.27deg, rgba(190, 212, 250, 0.466146) 11.84%, rgba(181, 201, 235, 0.5) 84.09%)
    &_wrapper
        width: 970px
        margin: 0 auto
        background-color: #FFFFFF
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25)
        border-radius: 30px
        padding: 67px 100px
        display: flex
        flex-wrap: wrap
        justify-content: center
    &_user
        &-data
            width: 100%
            margin: 100px auto
        &-name
            margin-bottom: 50px
            font-weight: 800
            font-size: 42px
            line-height: 51px
            color: #001334
            text-align: center
        &-string
            display: flex
            justify-content: space-between
        &-label
            margin-top: 50px
            display: inline-block
            font-weight: 800
            font-size: 24px
            line-height: 29px
            letter-spacing: 0.01em
            color: #001334
        &-value
            margin-top: 50px
            display: inline-block
            font-weight: 400
            font-size: 24px
            line-height: 29px
            letter-spacing: 0.01em
            color: #001334